{
  "title": [[ group.name | tojson ]],
  "folderUid": [[ grafana.folder_uid | tojson ]],
  "interval": 60,
  "rules": [
    {
      "uid": "afltiqshhiepsd",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] JVM CPU saturated - candi-api-service",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "max by (host_name) (\n  jvm_cpu_recent_utilization_ratio{job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"}\n) * 100",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    55
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "efly1qjbek83kb",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] JVM Thread Leak - Candi Api",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": " max by (host_name) (sum without (jvm_thread_state) (jvm_thread_count{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\"}))",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    200
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bflteqb2mnd34f",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] candi-api-service-Slow-Burn 5xx",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum(rate(http_server_request_duration_seconds_count{http_response_status_code=~\"5..\", job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\", http_route=~\"/zodiac/candi/api/v1/.+\"}[30m])) or vector(0)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.01
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "2m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bfly41p8ysykgb",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] API Request Rate Drop - Candi API",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum(rate(http_server_request_duration_seconds_count{\n  site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\",\n  http_route=~\"/zodiac/candi/api/v1/.+\"}[15m]))\nand on()\n(count(sum(rate(jvm_memory_used_bytes{\n  site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\"}[5m]))) > 0)",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum(rate(http_server_request_duration_seconds_count{\n  site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\",\n  http_route=~\"/zodiac/candi/api/v1/.+\"}[6h] offset 5m))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$A < $B * 0.05 && $B > 0.2",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "20m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bflyetlvm9ds0c",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] DB pool - long wait time - candi-api",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum(rate(db_client_connections_wait_time_milliseconds_sum{job=~\"zdc-microservice-candi-api\", site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", product=\"zodiac\"}[5m])) / (sum(rate(db_client_connections_wait_time_milliseconds_count{job=~\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", product=\"zodiac\", site_name=\"__SITE_NAME__\"}[5m])))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    100
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bflyf3o8jhptsa",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] DB Pool Pending Requests - candi-api",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum by (host_name) (db_client_connections_pending_requests{job=~\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", product=\"zodiac\", site_name=\"__SITE_NAME__\"})",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "3m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "efm0kwxlqicxsd",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] Critical-route latency regression - Candi API",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "(\n      histogram_quantile(0.95, sum by (http_route, le) (\n        rate(http_server_request_duration_seconds_bucket{\n          site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\",\n          http_route=\"/zodiac/candi/api/v1/get-ui-cfg/{id}\"}[5m])\n      )) - 1\n    )\n    or\n    (\n      histogram_quantile(0.95, sum by (http_route, le) (\n        rate(http_server_request_duration_seconds_bucket{\n          site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\",\n          http_route=~\"/zodiac/candi/api/v1/dropdown-values/{id}\"}[5m])\n      )) - 2\n    )",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "ffm0y49ehyps0c",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] DB Pool exhausted - Candi Api",
      "condition": "B",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum by (host_name) (db_client_connections_usage{state=\"used\",job=\"zdc-microservice-candi-api\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\"}) / on(host_name) group_left max by (host_name) (db_client_connections_max{job=\"zdc-microservice-candi-api\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\"})",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.9
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "B",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "10m",
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "ffn466g4yht6oc",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] App Error counter rising - Candi Api",
      "condition": "A",
      "data": [
        {
          "refId": "A",
          "queryType": "instant",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.loki | tojson ]],
          "model": {
            "datasource": {
              "type": "loki",
              "uid": [[ grafana.datasources.loki | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum by (service_name) (count_over_time({site_name=\"__SITE_NAME__\",env=\"__ENVIRONMENT__\",service_name=\"zdc-microservice-candi-api\"} | detected_level=\"ERROR\" [5m]))",
            "instant": true,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "queryType": "instant",
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    10,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "B",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "annotations": {
        "description": "Message processing errors spiking in {{ $labels.service_name }}",
        "summary": "App error counter rising"
      },
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "SBCP_IT": "true",
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "cfltg1gk135kwc",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] candi-api-service-Fast-Burn 5xx",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum(rate(http_server_request_duration_seconds_count{job=\"zdc-microservice-candi-api\",http_response_status_code=~\"5..\",env=\"__ENVIRONMENT__\",product=\"zodiac\",site_name=\"__SITE_NAME__\",http_route=~\"/zodiac/candi/api/v1/.+\"}[5m])) or vector(0)",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.01
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "2m",
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dflthwbdizym8a",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] JVM heap > 85% - candi-api-service",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "(sum by(host_name) (jvm_memory_used_bytes{jvm_memory_type=\"heap\", job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"}) * 100)\n/\nsum by(host_name) (jvm_memory_limit_bytes{jvm_memory_type=\"heap\", job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"})\n",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    85
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "cfltkyv37o4jkb",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] Thread Starvation - candi-api-service",
      "condition": "E",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum by (host_name) (jvm_thread_count{job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\",\n    site_name=\"__SITE_NAME__\", product=\"zodiac\", jvm_thread_state=\"blocked\"})\n  / sum by (host_name) (jvm_thread_count{job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\",\n    site_name=\"__SITE_NAME__\", product=\"zodiac\"}) * 100",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": " sum by (host_name) (jvm_thread_count{job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\",\n    site_name=\"__SITE_NAME__\", product=\"zodiac\", jvm_thread_state=\"blocked\"})",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    10,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 0,
            "to": 0
          },
          "datasourceUid": "__expr__",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    9,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 0,
            "to": 0
          },
          "datasourceUid": "__expr__",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": " $C && $D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bfltigv8vad4we",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] JVM heap > 95% - candi-api-service",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "(sum by(host_name) (jvm_memory_used_bytes{jvm_memory_type=\"heap\", job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"}) * 100)\n/\nsum by(host_name) (jvm_memory_limit_bytes{jvm_memory_type=\"heap\", job=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"})\n",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    95
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "2m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "eflts337srym8e",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] Container Down - Candi-API",
      "condition": "B",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "disableTextWrap": false,
            "editorMode": "code",
            "expr": "max by(service, node, ip, port, site_name, env) (bos_service_up{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", service=~\"candi-api\"})\n",
            "fullMetaSearch": false,
            "includeNullMetadata": true,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A",
            "useBackend": false
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    1
                  ],
                  "type": "lt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "B",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 0,
            "to": 0
          },
          "datasourceUid": "__expr__",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "D",
            "type": "reduce"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "alert_type": "cpu",
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "cflttgvl7cuf4a",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] Frequent container restarts - candi-api",
      "condition": "B",
      "data": [
        {
          "refId": "A",
          "queryType": "instant",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.loki | tojson ]],
          "model": {
            "datasource": {
              "type": "loki",
              "uid": [[ grafana.datasources.loki | tojson ]]
            },
            "editorMode": "builder",
            "expr": "sum by(host_name) (count_over_time({service_name=\"zdc-microservice-candi-api\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\"} |= `Started ZdcCandiApiApplication` [1h]))",
            "instant": true,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "queryType": "instant",
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    2,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "B",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "1m",
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "efl7riszea4n4c",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] API overall p95 latency - candi-api-service",
      "condition": "E",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "disableTextWrap": false,
            "editorMode": "code",
            "expr": "histogram_quantile(0.95, sum by (le) (\n  rate(traces_span_metrics_duration_milliseconds_bucket{\n    http_route=~\"/zodiac/candi/api/v1/.+\",\n    job=\"zdc-microservice-candi-api\", service_name=\"zdc-microservice-candi-api\",\n    env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"}[5m])))",
            "fullMetaSearch": false,
            "hide": false,
            "includeNullMetadata": true,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A",
            "useBackend": false
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum(rate(traces_span_metrics_duration_milliseconds_count{\n  http_route=~\"/zodiac/candi/api/v1/.+\",\n  job=\"zdc-microservice-candi-api\", service_name=\"zdc-microservice-candi-api\",\n  env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\", product=\"zodiac\"}[5m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    1000,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.2,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "10m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bflxuttngnzlsd",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] API auth-failure spike -Candi-API",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum by(env, job) (\n    rate(traces_span_metrics_calls_total{\n      site_name=\"__SITE_NAME__\",\n      http_response_status_code=\"401\",\n      http_route=~\"/zodiac/candi/api/v1/.*\",\n      env=\"__ENVIRONMENT__\",\n      product=\"zodiac\",\n      job=\"zdc-microservice-candi-api\"\n    }[5m])\n  ) * 60 or vector(0)",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    10
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "B",
            "settings": {
              "mode": "dropNN"
            },
            "type": "reduce"
          }
        }
      ],
      "noDataState": "NoData",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dflxwon1a6f40e",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] API 4xx spike - candi-api",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum(rate(http_server_request_duration_seconds_count{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\", http_response_status_code=~\"4..\", http_route=~\"/zodiac/candi/api/v1/.*\"}[5m])) * 60 or vector(0)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    4
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "B",
            "settings": {
              "mode": "dropNN"
            },
            "type": "reduce"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "1m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "eflxyazyp82kge",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] JVM GC Long Pauses - Candi API",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "sum(increase(jvm_gc_duration_seconds_bucket{le=\"+Inf\", site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-candi-api\"}[5m]))\n  - sum(increase(jvm_gc_duration_seconds_bucket{le=\"10\", site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-candi-api\"}[5m]))\n  or vector(0)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "5m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "cfly0bh2qlreoa",
      "title": "[__SITE_NAME__][__ENVIRONMENT__] Exception Counter Rising- Candi-Api",
      "condition": "C",
      "data": [
        {
          "refId": "query",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "exemplar": false,
            "expr": "sum by (http_route) (rate(http_server_request_duration_seconds_count{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=\"zdc-microservice-candi-api\", http_route=~\"/zodiac/candi/api/v1/.*\", http_response_status_code=~\"5..\"}[5m])) * 60 or vector(0)",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "query"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "query",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "max",
            "refId": "B",
            "settings": {
              "mode": "dropNN"
            },
            "type": "reduce"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    2,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "Error",
      "for": "3m",
      "labels": {
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-Candi-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    }
  ]
}
