{
  "title": [[ group.name | tojson ]],
  "folderUid": [[ grafana.folder_uid | tojson ]],
  "interval": 60,
  "rules": [
    {
      "uid": "efohqrq61gjk0e",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] Thread Starvation",
      "condition": "E",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "(\n  sum(jvm_thread_count{job=~\"zdc-microservice-cms\", site_name=\"__SITE_NAME__\",env=\"__ENVIRONMENT__\", jvm_thread_state=\"runnable\"})\n  /\n  sum(jvm_thread_count{job=~\"zdc-microservice-cms\", site_name=\"__SITE_NAME__\",env=\"__ENVIRONMENT__\"})\n) * 100",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "(\n  sum(jvm_thread_count{job=~\"zdc-microservice-cms\", site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", jvm_thread_state=\"blocked\"})\n  /\n  sum(jvm_thread_count{job=~\"zdc-microservice-cms\", site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\"})\n) * 100 ",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    10
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    60,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "hide": false,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Over 60% threads runnable and over 10% threads blocked on zdc-microservice-cms in __SITE_NAME__/__ENVIRONMENT__. Risk of request timeouts and degraded throughput.",
        "summary": "Thread starvation detected: {{ $labels.job }}"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "environment": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dfohphrz5o1s0d",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] API Auth Failure Spike",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "sum(rate(http_server_request_duration_seconds_count{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\", http_response_status_code=~\"401|403\"}[5m])) * 60",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    2
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Service: {{ $labels.job }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\nAuth Failures:\n- Current rate: {{ $values.A.Value }} req/min\n- Threshold: > 5 req/min\n- Status codes: 401 (Unauthorized) and 403 (Forbidden)\nAction:\n1. Check for brute force or credential stuffing attacks\n2. Review which endpoints are being hit\n3. Check for expired tokens or misconfigured clients\n4. Consider rate limiting if attack suspected\nInstance: {{ $labels.instance }}",
        "summary": "Auth failure spike detected for {{ $labels.job }} on {{ $labels.host_name }} (Rate={{ $values.A.Value }} req/min)"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "site": "__SITE_NAME__",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "ffohp870kvrb4b",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] Db Pool Exhausted",
      "condition": "threshold",
      "data": [
        {
          "refId": "query",
          "relativeTimeRange": {
            "from": 660,
            "to": 60
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "(\r\n  sum by(pool_name, env, site_name, job) (\r\n    db_client_connections_usage{\r\n      state=\"used\",\r\n      site_name=\"__SITE_NAME__\",\r\n      env=\"__ENVIRONMENT__\",\r\n      job=~\"zdc-microservice-cms\"\r\n    }\r\n  )\r\n)\r\n/\r\n(\r\n  sum by(pool_name, env, site_name, job) (\r\n    db_client_connections_max{\r\n      site_name=\"__SITE_NAME__\",\r\n      env=\"__ENVIRONMENT__\",\r\n      job=~\"zdc-microservice-cms\"\r\n    }\r\n  )\r\n)\r\n* 100",
            "instant": true,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "range": false,
            "refId": "query"
          }
        },
        {
          "refId": "prometheus_math",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "datasource": {
              "IsPrunable": false,
              "access": "",
              "apiVersion": "",
              "basicAuth": false,
              "basicAuthUser": "",
              "created": "0001-01-01T00:00:00Z",
              "database": "",
              "id": -100,
              "isDefault": false,
              "jsonData": {},
              "name": "__expr__",
              "readOnly": false,
              "secureJsonData": {},
              "type": "__expr__",
              "uid": "__expr__",
              "updated": "0001-01-01T00:00:00Z",
              "url": "",
              "user": "",
              "withCredentials": false
            },
            "expression": "is_number($query) || is_nan($query) || is_inf($query)",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "prometheus_math",
            "type": "math"
          }
        },
        {
          "refId": "threshold",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    95
                  ],
                  "type": "gt"
                }
              }
            ],
            "datasource": {
              "IsPrunable": false,
              "access": "",
              "apiVersion": "",
              "basicAuth": false,
              "basicAuthUser": "",
              "created": "0001-01-01T00:00:00Z",
              "database": "",
              "id": -100,
              "isDefault": false,
              "jsonData": {},
              "name": "__expr__",
              "readOnly": false,
              "secureJsonData": {},
              "type": "__expr__",
              "uid": "__expr__",
              "updated": "0001-01-01T00:00:00Z",
              "url": "",
              "user": "",
              "withCredentials": false
            },
            "expression": "prometheus_math",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "threshold",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Pool {{ $labels.pool_name }} in {{ $labels.env }}/{{ $labels.site_name }}\nis at >=95% capacity for 2m+. New requests are queueing or failing.\nImmediate impact on user-facing latency. Check for runaway queries, deadlocks,\nor a downstream stall holding connections.",
        "summary": "DB pool '{{ $labels.pool_name }}' exhausted ({{ $value | humanizePercentage }} used)"
      },
      "labels": {
        "__converted_prometheus_rule__": "true",
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "signal": "db-pool",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "ffohqrjwlmg3kf",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] API Slow-Burn 5xx",
      "condition": "E",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "   sum(rate(http_server_request_duration_seconds_count{job=~\"zdc-microservice-cms\",http_response_status_code=~\"5..\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\",http_route=~\r\n  \"/zodiac/cms/api/v1/.*\"}[30m]))\r\n    /\r\n    clamp_min(sum(rate(http_server_request_duration_seconds_count{job=~\"zdc-microservice-cms\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\",http_route=~\"/zodiac/cms/api/v1/.*\"\r\n  }[30m])),0.001)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum(increase(http_server_request_duration_seconds_count{job=~\"zdc-microservice-cms\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\",http_route=~\"/zodiac/cms/api/v1/.*\"}[30m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.05
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    30,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "API: {{ $labels.job }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\n5xx Errors:\n- Error Rate (A): {{ $values.A.Value }} req/sec\n- Threshold: > 0.5 req/sec\n\nStatus:\n- Breach: {{ if gt $values.A.Value 0.5 }}true{{ else }}false{{ end }}",
        "summary": "Slow-burn 5xx spike detected for {{ $labels.job }} (A={{ $values.A.Value }})"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "efohr7i8cnzlsc",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] JVM heap > 85%",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "(sum(jvm_memory_used_bytes{jvm_memory_type=\"heap\", job=~\"zdc-microservice-cms\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\"} * 100)) / (sum(jvm_memory_limit_bytes{jvm_memory_type=\"heap\", job=\"zdc-microservice-cms\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\"}))",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    85
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Service: {{ $labels.job }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nJVM Heap Memory:\n- Usage: {{ $values.A.Value }}%\n- Threshold: > 95%\n\nCalculation:\n(Used Heap / Max Heap) * 100\n\nStatus:\n- Heap Warning: {{ if gt $values.A.Value 85 }}true{{ else }}false{{ end }}",
        "summary": "High JVM heap memory usage detected for {{ $labels.job }} (Heap={{ $values.A.Value }}%)"
      },
      "labels": {
        "env": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "afohr7nyep2psa",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] JVM heap > 95%",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "(sum(jvm_memory_used_bytes{jvm_memory_type=\"heap\", job=~\"zdc-microservice-cms\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\"} * 100)) / (sum(jvm_memory_limit_bytes{jvm_memory_type=\"heap\", job=~\"zdc-microservice-cms\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\"}))",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    95
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Service: {{ $labels.job }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nJVM Heap Memory:\n- Usage: {{ $values.A.Value }}%\n- Threshold: > 95%\n\nCalculation:\n(Used Heap / Max Heap) * 100\n\nStatus:\n- Heap Critical: {{ if gt $values.A.Value 95 }}true{{ else }}false{{ end }}",
        "summary": "High JVM heap memory usage detected for {{ $labels.job }} (Heap={{ $values.A.Value }}%)"
      },
      "labels": {
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dfohre573vitcb",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] JVM CPU saturated",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "jvm_cpu_recent_utilization_ratio{job=~\"zdc-microservice-cms\", env=\"__ENVIRONMENT__\", site_name=\"__SITE_NAME__\"} * 100",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    70
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Service: {{ $labels.job }}\nHost: {{ $labels.host_name }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nJVM CPU Usage:\n- Utilization: {{ $values.A.Value }}%\n- Threshold: > 70%\n\nInstance: {{ $labels.instance }}\n\nStatus:\n- CPU Saturation: {{ if gt $values.A.Value 70 }}true{{ else }}false{{ end }}",
        "summary": "High JVM CPU saturation detected for {{ $labels.job }} on {{ $labels.host_name }} (CPU={{ $values.A.Value }}%)"
      },
      "labels": {
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "bfohp8wvd51j4d",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] API Fast-Burn 5xx",
      "condition": "E",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "\r\n    sum(rate(http_server_request_duration_seconds_count{job=~\"zdc-microservice-cms\",http_response_status_code=~\"5..\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\",http_route=~\r\n  \"/zodiac/cms/api/v1/.*\"}[5m]))\r\n    /\r\n    clamp_min(sum(rate(http_server_request_duration_seconds_count{job=~\"zdc-microservice-cms\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\",http_route=~\"/zodiac/cms/api/v1/.*\"\r\n  }[5m])),0.001)\r\n  ",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum(increase(http_server_request_duration_seconds_count{job=~\"zdc-microservice-cms\",env=\"__ENVIRONMENT__\",site_name=\"__SITE_NAME__\",http_route=~\"/zodiac/cms/api/v1/.*\"}[5m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.1
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    20,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "API: {{ $labels.job }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\n5xx Errors:\n- Error Rate (A): {{ $values.A.Value }} req/sec\n- Threshold: > 0.5 req/sec\n\nStatus:\n- Breach: {{ if gt $values.A.Value 0.5 }}true{{ else }}false{{ end }}",
        "summary": "Fast-burn 5xx spike detected for {{ $labels.job }} (A={{ $values.A.Value }})"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "afohpffgg9b0gc",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] DbPoolPendingRequests",
      "condition": "threshold",
      "data": [
        {
          "refId": "query",
          "relativeTimeRange": {
            "from": 660,
            "to": 60
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "avg_over_time(db_client_connections_pending_requests{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\"}[5m]) > 1",
            "instant": true,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "range": false,
            "refId": "query"
          }
        },
        {
          "refId": "prometheus_math",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "datasource": {
              "IsPrunable": false,
              "access": "",
              "apiVersion": "",
              "basicAuth": false,
              "basicAuthUser": "",
              "created": "0001-01-01T00:00:00Z",
              "database": "",
              "id": -100,
              "isDefault": false,
              "jsonData": {},
              "name": "__expr__",
              "readOnly": false,
              "secureJsonData": {},
              "type": "__expr__",
              "uid": "__expr__",
              "updated": "0001-01-01T00:00:00Z",
              "url": "",
              "user": "",
              "withCredentials": false
            },
            "expression": "is_number($query) || is_nan($query) || is_inf($query)",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "prometheus_math",
            "type": "math"
          }
        },
        {
          "refId": "threshold",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0
                  ],
                  "type": "gt"
                }
              }
            ],
            "datasource": {
              "IsPrunable": false,
              "access": "",
              "apiVersion": "",
              "basicAuth": false,
              "basicAuthUser": "",
              "created": "0001-01-01T00:00:00Z",
              "database": "",
              "id": -100,
              "isDefault": false,
              "jsonData": {},
              "name": "__expr__",
              "readOnly": false,
              "secureJsonData": {},
              "type": "__expr__",
              "uid": "__expr__",
              "updated": "0001-01-01T00:00:00Z",
              "url": "",
              "user": "",
              "withCredentials": false
            },
            "expression": "prometheus_math",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "threshold",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "{{ $value | printf \"%.1f\" }} threads are queued for {{ $labels.pool_name }}\nin {{ $labels.env }}/{{ $labels.site_name }} (5m avg, sustained 5m+).\nPool is undersized or queries are slow. Check slow query log and pool max size.",
        "summary": "DB pool CMS has threads waiting for a connection"
      },
      "labels": {
        "__converted_prometheus_rule__": "true",
        "env": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "signal": "db-pool",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "efohpgfjx12iof",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] DB pool-long wait time",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "sum(rate(db_client_connections_wait_time_milliseconds_sum{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\"}[$__rate_interval])) / (sum(rate(db_client_connections_wait_time_milliseconds_count{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\"}[$__rate_interval])))",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    500
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Env: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nDB Connection Wait Time:\n- Value: {{ $values.A.Value }} ms\n- Threshold: > 100 ms\n\nStatus:\n- Long Wait: {{ if gt $values.A.Value 100.0 }}true{{ else }}false{{ end }}",
        "summary": "CMS Service - DB connection wait time exceeded threshold"
      },
      "labels": {
        "env": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "cfohpgnns2l8gb",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] JVM long GC pauses",
      "condition": "F",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "histogram_quantile(0.99, sum by(job, site_name, env, le) (rate(jvm_gc_duration_seconds_bucket{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\", jvm_gc_name=~\"G1 Young Generation|G1 Old Generation\"}[15m])))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum by(job, site_name, env) (increase(jvm_gc_duration_seconds_count{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\", jvm_gc_name=~\"G1 Young Generation|G1 Old Generation\"}[15m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.5
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "D",
            "type": "reduce"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    200,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "threshold"
          }
        },
        {
          "refId": "F",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $E",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "F",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "keepFiringFor": "5m",
      "annotations": {
        "description": "Service: {{ $labels.job }}\nHost: {{ $labels.host_name }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\nGC Pause:\n- P99 Duration: {{ $values.A.Value }}ms\n- Threshold: > 1000ms\nInstance: {{ $labels.instance }}",
        "summary": "Long GC pause detected for {{ $labels.job }} on {{ $labels.host_name }} (P99 GC={{ $values.A.Value }}ms)"
      },
      "labels": {
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "cfohqs3u6yc5ce",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] API overall p95 latency",
      "condition": "F",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "histogram_quantile(\r\n  0.95,\r\n  sum by (job,site_name,env, http_route, le) (\r\n    rate(\r\n      http_server_request_duration_seconds_bucket{\r\n        site_name=\"__SITE_NAME__\",\r\n        env=\"__ENVIRONMENT__\",\r\n        job=~\"zdc-microservice-cms\",\r\n        http_route!=\"\"\r\n      }[5m]\r\n    )\r\n  )\r\n)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum by (job, site_name, env, http_route) (\r\n  rate(http_server_request_duration_seconds_count{\r\n    site_name=\"__SITE_NAME__\",\r\n    env=\"__ENVIRONMENT__\",\r\n    job=~\"zdc-microservice-cms\",\r\n    http_route!=\"\"\r\n  }[5m])\r\n)",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    3.5
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.1,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        },
        {
          "refId": "F",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "E",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "F",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "The P95 response time for API route {{ $labels.http_route }} in job {{ $labels.job }} has exceeded the configured threshold.\n\nCurrent P95 latency: {{ humanizeDuration $values.A.Value }}\n\nEnvironment: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nPossible causes:\n- Downstream dependency slowness\n- Database query latency\n- Thread pool saturation\n- Increased request traffic\n- JVM GC pauses\n- CPU or memory contention\n- Network latency\n\nRecommended investigation:\n- Check application logs and traces\n- Review downstream API/database latency\n- Inspect JVM CPU, heap, and GC metrics\n- Verify thread pool utilization\n- Check pod/container re__SITE_NAME__rce throttling\n- Analyze recent deployments or traffic spikes",
        "summary": "CMS P95 API latency is high for {{ $labels.job }} API {{ $labels.http_route }}"
      },
      "labels": {
        "alert_type": "api_latency",
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "environment": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "ffohqsa4x569sb",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] API 4xx spike",
      "condition": "E",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "sum(rate(http_server_request_duration_seconds_count{\n    site_name=\"__SITE_NAME__\",\n    env=\"__ENVIRONMENT__\",\n    job=~\"zdc-microservice-cms\",\n    http_response_status_code=~\"4..\",\n    http_route=~\"/zodiac/cms/api/v1/.*\"\n  }[5m]))\n  /\n  clamp_min(\n    sum(rate(http_server_request_duration_seconds_count{\n      site_name=\"__SITE_NAME__\",\n      env=\"__ENVIRONMENT__\",\n      job=~\"zdc-microservice-cms\",\n      http_route=~\"/zodiac/cms/api/v1/.*\"\n    }[5m])),\n    0.001\n  )",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "builder",
            "expr": "sum(increase(http_server_request_duration_seconds_count{\r\n  site_name=\"__SITE_NAME__\",\r\n  env=\"__ENVIRONMENT__\",\r\n  job=~\"zdc-microservice-cms\",\r\n  http_route=~\"/zodiac/cms/api/v1/.*\"\r\n}[5m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.2
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    20,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "{{ $value | printf \"%.1f\" }}% of requests returning 4xx on zdc-microservice-cms in __SITE_NAME__/__ENVIRONMENT__. Possible bad requests, auth failures, or missing re__SITE_NAME__rces.",
        "summary": "API 4xx Spike - CMS Service (__SITE_NAME__/__ENVIRONMENT__)"
      },
      "labels": {
        "alert_type": "api_errors",
        "env": "__ENVIRONMENT__",
        "environment": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dfohqtqt55nnke",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] Container Down",
      "condition": "B",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 10800,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "builder",
            "expr": "max by(service, node, ip, port, site_name, env) (bos_service_up{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", service=~\"cms\"})",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "D",
            "type": "reduce"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    1
                  ],
                  "type": "lt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "D",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "B",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "2m",
      "annotations": {
        "description": "Service: {{ $labels.service_name }}\nEnv: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nContainer Status:\n- Status: DOWN\n- No CPU metrics received for > 1 minute\n\nImpact:\n- All timer jobs stopped\n- API endpoints unreachable\n- JMS events not being published\n- Downstream systems not receiving timer events",
        "summary": "CMS Container CPU Metrics Missing - {{ $labels.service_name }}"
      },
      "labels": {
        "ALERT_ON_SITE": "true",
        "ALERT_TO_BU": "true",
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "og_priority": "P1",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site": "__SITE_NAME__",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dfohqyteoy29sa",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] JVM thread leak",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "(\r\n  sum by (job, host_name) (jvm_thread_count{\r\n    site_name=\"__SITE_NAME__\",\r\n    env=\"__ENVIRONMENT__\",\r\n    job=~\"zdc-microservice-cms\"\r\n  })\r\n  -\r\n  sum by (job, host_name) (jvm_thread_count{\r\n    site_name=\"__SITE_NAME__\",\r\n    env=\"__ENVIRONMENT__\",\r\n    job=~\"zdc-microservice-cms\"\r\n  } offset 1h)\r\n)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    50
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "Env: {{ $labels.env }}\nSite: {{ $labels.site_name }}\n\nJVM Thread Count:\n- Value: {{ $values.A.Value }}\n- Threshold: > 200\n- Normal range: 150-200 (100 Quartz TIMER-* + Tomcat + HikariCP + system)\n\nStatus:\n- Thread Leak: {{ if gt $values.A.Value 200.0 }}true{{ else }}false{{ end }}",
        "summary": "CMS Service - Possible JVM thread leak detected"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site": "__SITE_NAME__",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "dfohr7c89y6tcc",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] App exception counter rising",
      "condition": "D",
      "data": [
        {
          "refId": "A",
          "queryType": "range",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.loki | tojson ]],
          "model": {
            "datasource": {
              "type": "loki",
              "uid": [[ grafana.datasources.loki | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum by (filename,site_name,env) (count_over_time(\n  {site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", filename=~\".*zdc-microservice-cms.*log\", filename!~\".*tracing.*\"}\n  |~ \"(?i)(Exception|ERROR)\"\n  != \"DEBUG\"\n  != \"WARN\"\n[5m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "",
            "maxDataPoints": 43200,
            "queryType": "range",
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "queryType": "instant",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.loki | tojson ]],
          "model": {
            "datasource": {
              "type": "loki",
              "uid": [[ grafana.datasources.loki | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum by (filename,site_name,env)(count_over_time(\n  {site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", filename=~\".*zdc-microservice-cms.*log\", filename!~\".*tracing.*\"}\n  |~ \"(?i)(Exception|ERROR)\"\n  != \"DEBUG\"\n  != \"WARN\"\n[5m] offset 1h)) * 2.5",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "",
            "maxDataPoints": 43200,
            "queryType": "instant",
            "refId": "B"
          }
        },
        {
          "refId": "reducer",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "reducer",
            "settings": {
              "mode": ""
            },
            "type": "reduce"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$reducer > $C && $reducer > 10",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "math"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "reducer": "last",
            "refId": "C",
            "settings": {
              "mode": "replaceNN",
              "replaceWithValue": 0
            },
            "type": "reduce"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "keepFiringFor": "5m",
      "annotations": {
        "description": "Message processing errors spiking in {{ $labels.filename}}\n\nSite: {{ $labels.site_name }}\nEnv: {{ $labels.env }}",
        "summary": "App exception counter rising"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "og_priority": "P2",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site": "__SITE_NAME__",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "efohpf2nkzqbke",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] Critical-route latency regression",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "editorMode": "code",
            "expr": "histogram_quantile(0.95, sum by(job, http_route, site_name, env, le) (rate(http_server_request_duration_seconds_bucket{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\"}[5m])))",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "B",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "code",
            "expr": "sum by (job, site_name, env, http_route) (\r\n  rate(http_server_request_duration_seconds_count{\r\n    site_name=\"__SITE_NAME__\",\r\n    env=\"__ENVIRONMENT__\",\r\n    job=~\"zdc-microservice-cms\",\r\n    http_route!=\"\"\r\n  }[5m])\r\n)",
            "hide": false,
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "B"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    3
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        },
        {
          "refId": "D",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0.1,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "B",
            "hide": false,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "D",
            "type": "threshold"
          }
        },
        {
          "refId": "E",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0,
                    0
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": []
                },
                "reducer": {
                  "params": [],
                  "type": "avg"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "name": "Expression",
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "$C && $D",
            "hide": false,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "E",
            "type": "math"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "P95 latency for /zodiac/cms/api/v1/.* is {{ $value | printf \\\"%.3f\\\" }}s on __SITE_NAME__/__ENVIRONMENT__, exceeding 2s threshold. Immediate investigation required possible DB slowness, GC pressure, or re__SITE_NAME__rce exhaustion.",
        "summary": "Critical P95 Latency - CMS API (__SITE_NAME__/__ENVIRONMENT__)"
      },
      "labels": {
        "alert_type": "api_latency",
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "environment": "__ENVIRONMENT__",
        "og_priority": "P3",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "afohpg9hbbldse",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] Frequent container restarts",
      "condition": "C",
      "data": [
        {
          "refId": "A",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "builder",
            "expr": "sum by(host_name, job) (increase(application_restarts_count{job=~\"zdc-microservice-cms\", site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\"}[10m]))",
            "instant": true,
            "intervalMs": 1000,
            "legendFormat": "__auto",
            "maxDataPoints": 43200,
            "range": false,
            "refId": "A"
          }
        },
        {
          "refId": "C",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    2
                  ],
                  "type": "gt"
                },
                "operator": {
                  "type": "and"
                },
                "query": {
                  "params": [
                    "C"
                  ]
                },
                "reducer": {
                  "params": [],
                  "type": "last"
                },
                "type": "query"
              }
            ],
            "datasource": {
              "type": "__expr__",
              "uid": "__expr__"
            },
            "expression": "A",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "C",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "2m",
      "annotations": {
        "description": "CMS Application has restarted {{ $value }} times in the last hour on __SITE_NAME__/__ENVIRONMENT__. Possible crash loop, OOM kill, or deployment issue.",
        "summary": "Frequent restarts detected - CMS API (__SITE_NAME__/__ENVIRONMENT__)"
      },
      "labels": {
        "bu": "zodiac",
        "env": "__ENVIRONMENT__",
        "environment": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "critical",
        "site_name": "__SITE_NAME__"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    },
    {
      "uid": "ffohph7sjpcsge",
      "title": "[__SITE_NAME__][__ENVIRONMENT__][CMS] DbPoolAcquireSlow",
      "condition": "threshold",
      "data": [
        {
          "refId": "query",
          "relativeTimeRange": {
            "from": 660,
            "to": 60
          },
          "datasourceUid": [[ grafana.datasources.prometheus | tojson ]],
          "model": {
            "datasource": {
              "type": "prometheus",
              "uid": [[ grafana.datasources.prometheus | tojson ]]
            },
            "editorMode": "builder",
            "expr": "histogram_quantile(0.95, sum by(pool_name, le, env, site_name, job) (rate(db_client_connections_wait_time_milliseconds_bucket{site_name=\"__SITE_NAME__\", env=\"__ENVIRONMENT__\", job=~\"zdc-microservice-cms\"}[5m]))) > 1000",
            "instant": true,
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "range": false,
            "refId": "query"
          }
        },
        {
          "refId": "prometheus_math",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "datasource": {
              "IsPrunable": false,
              "access": "",
              "apiVersion": "",
              "basicAuth": false,
              "basicAuthUser": "",
              "created": "0001-01-01T00:00:00Z",
              "database": "",
              "id": -100,
              "isDefault": false,
              "jsonData": {},
              "name": "__expr__",
              "readOnly": false,
              "secureJsonData": {},
              "type": "__expr__",
              "uid": "__expr__",
              "updated": "0001-01-01T00:00:00Z",
              "url": "",
              "user": "",
              "withCredentials": false
            },
            "expression": "is_number($query) || is_nan($query) || is_inf($query)",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "prometheus_math",
            "type": "math"
          }
        },
        {
          "refId": "threshold",
          "relativeTimeRange": {
            "from": 600,
            "to": 0
          },
          "datasourceUid": "-100",
          "model": {
            "conditions": [
              {
                "evaluator": {
                  "params": [
                    0
                  ],
                  "type": "gt"
                }
              }
            ],
            "datasource": {
              "IsPrunable": false,
              "access": "",
              "apiVersion": "",
              "basicAuth": false,
              "basicAuthUser": "",
              "created": "0001-01-01T00:00:00Z",
              "database": "",
              "id": -100,
              "isDefault": false,
              "jsonData": {},
              "name": "__expr__",
              "readOnly": false,
              "secureJsonData": {},
              "type": "__expr__",
              "uid": "__expr__",
              "updated": "0001-01-01T00:00:00Z",
              "url": "",
              "user": "",
              "withCredentials": false
            },
            "expression": "prometheus_math",
            "intervalMs": 1000,
            "maxDataPoints": 43200,
            "refId": "threshold",
            "type": "threshold"
          }
        }
      ],
      "noDataState": "OK",
      "execErrState": "OK",
      "for": "5m",
      "annotations": {
        "description": "p95 connection-acquire time on {{ $labels.pool_name }} in\n{{ $labels.env }}/{{ $labels.site_name }} is {{ $value | printf \"%.2fs\" }}.\nThreads that get a connection are waiting >1s — users feel this directly as slow responses.\nEither grow pool max or fix the queries holding connections.",
        "summary": "DB pool '{{ $labels.pool_name }}' acquire p95 > 1s"
      },
      "labels": {
        "__converted_prometheus_rule__": "true",
        "env": "__ENVIRONMENT__",
        "ruleGroup": "__SITE_NAME__-CMS-Alerts",
        "severity": "warning",
        "signal": "db-pool",
        "site_name": "__SITE_NAME__",
        "team": "zara-core"
      },
      "isPaused": false,
      "ruleGroup": [[ group.name | tojson ]],
      "folderUID": [[ grafana.folder_uid | tojson ]],
      "orgId": [[ grafana.org_id ]]
    }
  ]
}
